body{
    background-color: gray;
    font-family: 'Inter', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#Calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 50px;
    width: 400px;
    height: 650px;
}

#passada{
    padding-top: 10px;
    color: gray;
    width: 300px;
    text-align: right;
    font-size: 22px;
}

#resultadoAtual{
    color: white;
    width: 300px;
    text-align: right;
    font-size: 35px;
}

/* config agrup de botões */

button{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.normais{
    background-color: rgb(42, 42, 59);
    color: white;
}

.operadores{
    background-color: rgb(204, 85, 0);
    color: white;
}

/* container botões */

#botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 350px;
    height: 500px;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}

/* botões individuais */

#igual{
    background-color: orange;
    color: white;
    grid-row: 5;
    grid-column: 4;
}

#CE{
    background-color: rgb(42, 42, 59);
    color: orange;
    grid-row: 1;
    grid-column: 1;
}

#C{
    grid-row: 1;
    grid-column: 2;
}

#porcentagem{
    grid-row: 1;
    grid-column: 3;
}

#div{
    grid-row: 1;
    grid-column: 4;
}

#sete{
    grid-row: 2;
    grid-column: 1;
}

#oito{
    grid-row: 2;
    grid-column: 2;
}

#nove{
    grid-row: 2;
    grid-column: 3;
}

#mult{
    grid-row: 2;
    grid-column: 4;
}

#quatro{
    grid-row: 3;
    grid-column: 1;
}

#cinco{
    grid-row: 3;
    grid-column: 2;
}

#seis{
    grid-row: 3;
    grid-column: 3;
}

#sub{
    grid-row: 3;
    grid-column: 4;
}

#um{
    grid-row: 4;
    grid-column: 1;
}

#dois{
    grid-row: 4;
    grid-column: 2;
}

#tres{
    grid-row: 4;
    grid-column: 3;
}

#add{
    grid-row: 4;
    grid-column: 4;
}

#maismenos{
    grid-row: 5;
    grid-column: 1;
}

#zero{
    grid-row: 5;
    grid-column: 2;
}

#virgula{
    grid-row: 5;
    grid-column: 3;
}